__pycache__
.venv

*.egg-info/

# Built as part of docs
doc/auto_examples
doc/_build
doc/generated/
doc/sg_execution_times.rst

# Built by auto_examples
examples/visual_cueing/*.csv

# Jupytext-paired notebooks (the .py is the source of truth; .ipynb is auto-paired)
**.ipynb

# tests/coverage artifacts
.coverage
coverage.xml
htmlcov

# PyCharm
.idea/

**/.DS_Store
